.social-img {
    height: 60px;
    margin-bottom: 1em;
}

.social-img:hover {
    scale: 1.1;
}

.invert {
    filter: invert();
}

.social-nav {

    justify-content: space-between;
    position: absolute;
    left: 1em;
    bottom: 30%
}

@media screen and (width < 1024px) {
    .social-img {
        height: 40px;
        margin-bottom: 1em;
    }

    .social-nav {
        display: flex;
        justify-content: space-between;
        width: 200px;
        left: 1em;
        bottom: 0;

        z-index: 1000;
    }
}