.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    margin-top: 5rem;
}

.typing {
    color: var(--primary);
    width: 22ch;
    animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 6vw;
}

.name {
    color: var(--primary);
    position: absolute;
    bottom: 4vh;
    right: 4vw;
    font-family: monospace;
    font-size: 2vw;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media screen and (min-width: 1000px) {
    .typing {
        font-size: 4rem;
    }
}